#navbar{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 70px;
    
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    color: var(--red0);
}

#navbar-bkg{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 70px;
    width: 100%;
    background-color: var(--salmon);
}

.item-navbar{
    opacity: 0.68;
}

.item-navbar:hover{
    opacity: 1.2;
    cursor:pointer;
}

.any-item{
    font-weight: 500;
    color: var(--navbartext);
    padding: 25px 0px 0px;
    margin: 0px 30px;
    
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.bold-navbar{
    font-weight: 700;
    cursor: default;
}

#home-wrap .home-logo{
    left: 0px !important;
}

.home-logo{
    order:1;
    height: 28px;
    margin: 0px;
    position: absolute;
    left: 20px;
    top: -6px;
}
.home-name{
    order:1;
    height: 28px;
    margin: 0px;
    position: absolute;
    margin-left: 30px;

    font-weight: 700;
    color: var(--navbartext);
}

#home-wrap{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 70px;
    width: 117px;
    left: 20px;
}

#slider {
    top: 50px;
	width:6px;
	height:2px;
	position:absolute;
	background-color: var(--red1);
	display: none;
}

#bar {
	float:right;
    background-color: #db735e;
}