#projects-masthead{
    height: 500px;
    width: 100%;
    /* background-color: var(--red1); */
    background: rgb(133,68,53);
background: linear-gradient(90deg, rgba(133,68,53,1) 0%, rgba(209,107,86,1) 100%);
}