#slider {
    top: 50px;
	width:6px;
	height:2px;
	position:absolute;
	background-color: var(--red1);
	display: none;
	/* border-radius: 3px; */
}

/* https://www.w3schools.com/css/css3_gradients.asp */

/* .item-navbar {border:1px dashed darksalmon;} */

/* .navbar {border:1px dashed darksalmon;} */


.bar {
	/* display:inline-block; */
	float:right;
    background-color: #db735e;
    /* border:1px solid darksalmon; */
}
